<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS4SQmxV3avrl5AJi8YQigfdqNPlc48DM</string>
	<key>GCM_SENDER_ID</key>
	<string>377259467324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tusharDb</string>
	<key>PROJECT_ID</key>
	<string>tusharboard-1bf20</string>
	<key>STORAGE_BUCKET</key>
	<string>tusharboard-1bf20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377259467324:ios:55b255318cf7db8b479939</string>
</dict>
</plist>